<div id="wrapper">
  <div class="logobox">
    <img src="https://m.media-amazon.com/images/I/61OgrIEL7EL.jpg" alt="">
  </div>

  <div class="contentbox">
    <div class="contentarea">
      <div class="username loginpage">
        <input type="text" placeholder="Username">
      </div>
      <div class="password loginpage">
        <input type="password" [type]="hide ? 'password' : 'text'" placeholder="Password">
        <mat-icon mat-icon-button matSuffix class="eyeBtn" (click)="hide = !hide">{{hide ? 'visibility_off' :
          'visibility'}}</mat-icon>
      </div>
      <div class="login loginpage">
        <button>Login</button>
      </div>
    </div>
  </div>

  <div class="footerbox">
    <p>Powered By :- &nbsp; &nbsp;</p>
    <img src="https://macreel.co.in/img/logo4.png" alt="">
  </div>
</div>