table {
    width: 100%;
}

th.mat-header-cell {
    color: rgb(255, 255, 255);
    font-size: 13px;
    white-space: nowrap;
    padding: 0px 10px !important;
}

td.mat-cell {
    padding: 0px 10px !important;
    white-space: nowrap;
    font-size: 13px;
}

.mat-elevation-z8 {
    overflow: auto;
}

#thead {
    height: 45px;
}